<mat-toolbar
  color="primary"
>
  <a [routerLink]="'/home'">
    <button mat-flat-button color="primary">
      Classical Car Search
    </button>
  </a>

  <div class="navigation-buttons">
    <div class="section-main">
      <a mat-button [routerLink]="'/search'">Search</a>
      <a mat-button [routerLink]="'/subscription'">Subscription</a>
      <a mat-button [routerLink]="'/watch-list'">Watch List</a>
    </div>

    <div class="section-auth" *ngIf="!cachedUser; else elseBlock">
      <a mat-button [routerLink]="'/auth/login'">Login</a>
    </div>

    <ng-template #elseBlock>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
          <img [src]="cachedUser?.pictureUri" class="user-avatar">
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <div class="mat-body-strong">{{cachedUser?.firstName}} {{cachedUser?.lastName}}</div>
            <div class="mat-small">{{cachedUser?.email}}</div>
          </div>
        </div>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-template>
  </div>

</mat-toolbar>

<div class="router-container">
  <router-outlet></router-outlet>
</div>