
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html { background-color: #6d6060; }
body {
    min-height: 100vh;
    margin: 0 auto;
}

.searchResult-bg {
    color: #1a0469 !important;
    background-color: #34a0df;
    border-radius: 10px;
    padding:20px;
}
.searchResultRow-bg {
    color: #1a0469 !important;
    background-color: #143d94;
    border-radius: 10px;
    padding-bottom:20px;
}
.main-bg {
    background-color: #6d6060;
}
.titleBlock{
    color: #d4cbf5 !important;
    background-color: #620a8b;
    border-radius: 20px;
    padding-bottom: 20px;
}