<div class="login-page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <a 
          mat-flat-button 
          *ngFor="let provider of providerOptions"
          href="{{ '/api/auth/' + provider.name | lowercase }}"
        >
          <mat-icon [svgIcon]="provider.svgIconName"></mat-icon>

          Login with {{provider.name}}
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>