

<div class="container">
    <br/>
    <div class="alert alert-success" role="alert">
        watch-list works!
    </div>

    <!-- watch-list-item -->
    <div class="card watch-list-item">

        <div class="card-body">

            <div class="row">
                <div class="col">
                    <img class="car-cover" src="https://platform.cstatic-images.com/xlarge/in/v2/c95d212d-d1df-58bc-8599-864c7791c88f/32cacf95-34da-4266-a910-5583226a89e3/_vpsUaLVHkmdInh_5lDitX8Jv5g.jpg"
                        alt="Card image cap">
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Search Description 1</li>
                        <li class="list-group-item">Recommendation: BUY</li>
                        <li class="list-group-item">Median Price: $xxx</li>
                        <li class="list-group-item">Media Time On Market: N days</li>
                    </ul>
<!--
                    Search Description 1
                    Recommendation: BUY
                    Median Price: $xxx
                    Media Time On Market: N days -->

                    <!-- <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote> -->
                </div>
                <div class="col-3">

                    <div class="row justify-content-around">
                        <button type="button" class="btn btn-sm btn-primary">Get Recommendation</button>
                        <button type="button" class="btn btn-sm btn-primary">View Search</button>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-9">
                            <div class="row justify-content-around">
                                <p>Notify By:</p>
                                <p><input type="checkbox"> Email </p>
                                <p><input type="checkbox"> SMS </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>