.landing-page-container {
    margin: 30px;
}

.landing-page-container .search-section {
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 0;
    border: 1px solid #bebebe;
    box-shadow: none;
}

.mat-form-field {
    width: 100%;
}

.landing-page-container .landing-page-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.landing-page-container .landing-logo-section {
    margin-top: 100px;
    min-height: 300px;
}

.landing-logo {
    height: 350px;
}

.search-button {
    margin-top: -25px;
}