<div class="landing-page-container">
    <div class="search-section">
        <div>
            Cars for sale - Search Around The Nation
        </div>
        <div>
            <form [formGroup]="filterForm" (ngSubmit)="onClickSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Model</mat-label>
                    <input matInput formControlName="model">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Make</mat-label>
                    <input matInput formControlName="make">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>From</mat-label>
                    <input matInput formControlName="startYear" type="number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>To</mat-label>
                    <input matInput formControlName="endYear" type="number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-select formControlName="selectedRegion">
                        <mat-option *ngFor="let region of regionOptions" [value]="region">
                            {{region}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button type="submit" [disabled]="!filterForm.valid" color="primary">Search</button>
            </form>
        </div>
    </div>

    <div>
        <img class="landing-logo" src="../../../assets/vintage-car.svg"/>
    </div>
    
</div>