.landing-page-container {
    display: flex;
    flex-direction: column;
}

.landing-page-container .search-section .section-form {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "mo-in mo-in ma-in ma-in fr-in to-in re-in re-in su-btn";
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.model-input {
    grid-area: mo-in;
}

.make-input {
    grid-area: ma-in;
}

.from-input {
    grid-area: fr-in;
}

.to-input {
    grid-area: to-in;
}

.submit-button {
    grid-area: su-btn;
}

.mat-form-field {
    width: 100%;
}

.landing-page-container .landing-page-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.landing-page-container .landing-logo {
    min-height: 100px;
}

.landing-page-container .landing-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}