.active-listingChip {
  background-color: blue;
  color: white;
  text-emphasis: bold;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.closed-listingChip {
  background-color: red;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.active-listingFooter {
  background-color: blue;
  color: white;
  text-emphasis: bold;
  padding: 10px;
  border-radius: 5px;
}

.closed-listingFooter {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.searchInput {
  max-width: 960px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.searchDisplayItem {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.search-footer {
  margin-top: 8px;
}

.resultBackdrop {
  background-color: #efefef
}

//CARDS
.resultCard {
  background-color: beige;
  width: 100%;
  border: tan;
  border-width: 2px;
}

.cardHeader {
  background-color: tan;
}

.cardFooter {
  background-color: tan;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

//LANDING REUSE
.landing-page-container {
  margin: 20px;
}

.landing-page-container .search-section {
  margin-left: 100px;
  margin-right: 100px;
}

.mat-form-field {
  width: 100%;
}

.landing-page-container .landing-page-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-page-container .landing-logo-section {
  margin-top: 100px;
  min-height: 300px;
}

.landing-logo {
  height: 400px;
}

.search-button {
  margin-top: -25px;
}