.active-listing{
background-color: blue;
color: white;
padding: 5px;
border-radius: 2px;
}
.closed-listing{
background-color: red;
color:white;
padding: 5px;
border-radius: 2px;
}
.searchInput{
    max-width: 960px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.searchDisplayItem{
    max-width: 960px;
    width:100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.resultCard{
    background-color: beige;
    width: 100%;
}

.cardHeader{
    background-color: tan;
}

//LANDING REUSE
.landing-page-container {
    margin: 20px;
}

.landing-page-container .search-section {
    margin-left: 100px;
    margin-right: 100px;
}

.mat-form-field {
    width: 100%;
}

.landing-page-container .landing-page-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.landing-page-container .landing-logo-section {
    margin-top: 100px;
    min-height: 300px;
}

.landing-logo {
    height: 400px;
}

.search-button {
    margin-top: -25px;
}