
<!--************    SEARCH BAR    ************-->
<div class="container searchBackground" fxLayout="row" fxLayoutAlign="center center">

  <mat-grid-list cols="2" rowHeight="100px">
    <mat-form-field appearance="fill">
      <mat-label>Make</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Max Mileage</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Max Price</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{record.Region}}
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{record.Condition}}
    </mat-checkbox>

  </mat-grid-list>
</div>

<!--************    MAIN PAGE BODY    ************-->

<!-- The grid layout -->
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">

  <mat-grid-list cols="2" rowHeight="100px">
    <!-- Material Card Template --> 
    <div class="col" *ngFor="let record of listings">
      <img mat-card-image>{{record.imageURL}}</img>
        <mat-card-header>
          {{record.carId.Make}} {{record.carId.Model}}
          <div matBadge="1" matBadgeSize="large" class="demo-section" *ngIf="isActive">Active</div>
          <div matBadge="1" matBadgeSize="large" class="demo-section" *ngIf="!isActive">Sold</div>
        </mat-card-header>
        <mat-card-content>
          {{record.listingDescription}}
          <table mat-table [dataSource]="record" class="mat-elevation-z8">
            <!--Titles-->
            <td mat-header-cell *matHeaderCellDef>Price</td>
            <td mat-header-cell *matHeaderCellDef>Mileage</td>
            <td mat-header-cell *matHeaderCellDef>Condition</td>
            <!--Data-->
            <th mat-header-cell *matHeaderCellDef>{{record.price}}</th>
            <th mat-header-cell *matHeaderCellDef>{{record.Mileage}}</th>
            <th mat-header-cell *matHeaderCellDef>{{record.Condition}}</th>
          </table>
        </mat-card-content>
        <mat-card-footer>
          <div *ngIf="!isActive">Sold {{record.saleDate}}</div>          
    </mat-card-footer>
    <!-- End of Card -->

  </mat-grid-list>
</mat-paginator>

</div>