<!--************    SEARCH BAR    ************-->
<div class="landing-page-container" fxLayout="column">
  <div class="search-section">
      <div class="section-title">
          <h1>Cars for sale - Search Around The Nation</h1>
      </div>
      <form [formGroup]="filterForm" (ngSubmit)="onClickSubmit()">
          <div class="section-form" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <mat-form-field appearance="fill" fxFlex="20">
                  <mat-label>Model</mat-label>
                  <input matInput formControlName="model">
              </mat-form-field>
              
              <mat-form-field appearance="fill" fxFlex="20">
                  <mat-label>Make</mat-label>
                  <input matInput formControlName="make">
              </mat-form-field>
              
              <div fxLayout="row" fxFlex="20" fxLayoutGap="5px">
                  <mat-form-field appearance="fill">
                      <mat-label>From Year</mat-label>
                      <input matInput formControlName="startYear" type="number">
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                      <mat-label>To Year</mat-label>
                      <input matInput formControlName="endYear" type="number">
                  </mat-form-field>
              </div>

              <mat-form-field appearance="fill" fxFlex="20">
                  <mat-label>Region</mat-label>
                  <mat-select formControlName="selectedRegion">
                      <mat-option *ngFor="let region of regionOptions" [value]="region">
                          {{region}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="fill" fxFlex="20">
                <mat-label>Quality</mat-label>
                <mat-select formControlName="selectedRegion">
                    <mat-option *ngFor="let quality of qualityOptions" [value]="quality">
                        {{quality}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

              <button
                  mat-flat-button
                  class="search-button" 
                  type="submit" 
                  [disabled]="!filterForm.valid" 
                  color="primary"
                  fxFlex="10"
              >
                  Search
              </button>
          </div>
      </form>
  </div>

  <!--TODO  TEMPORARY CRAP-->
  <div class="landing-logo-section" fxLayout="column" fxLayoutAlign="center center">
      <img class="landing-logo" src="../../../assets/vintage-car.svg"/>
  </div>
  
</div>
<!--************    MAIN PAGE BODY    ************-->

<!-- The grid layout -->
<!--TODO<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">-->

  <mat-grid-list cols="2" rowHeight="500px" colWidth="fit" class="resultBackdrop">
    <!-- Material Card Template --> 
    <mat-grid-tile *ngFor="let record of searchResults" [colspan]="1" [rowspan]="1">
      <div class="searchDisplayItem">
        <mat-card class="resultCard" type="raised">
          <img mat-card-image><!--TODO{{record.imageURL}}-->
          <!--<mat-card-header class="cardHeader">-->
            <mat-grid-list cols="2" rowHeight="100px" class="cardHeader">
              
                <mat-grid-tile [colspan]="1">
                  <h2>{{record.car.make}} {{record.car.model}}</h2>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="active-listingChip"  *ngIf="!record.saleDate">Active</div>
                  <div class="closed-listingChip"  *ngIf="record.saleDate">Sold</div> 
                </mat-grid-tile>
                           
           </mat-grid-list>                                 
          <!--</mat-card-header>-->

          <mat-card-content>
            <!--{{record.listingDescription}}-->
            <!--Numerical Data-->
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>Mileage</span>
                <span matListItemLine>{{record.car.mileage}}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Exterior Condition</span>
                <span>{{record.car.exteriorCondition}}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Mechanical Condition</span>
                <span>{{record.car.mechanicalCondition}}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Price</span>
                <!--TODO {{record.price}} -->
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-footer>
            <div matBadgeSize="large" class="active-listingFooter" *ngIf="!record.saleDate">Listed {{record.listDate}}</div>           
            <div matBadgeSize="large" class="closed-listingFooter" *ngIf="record.saleDate">Sold {{record.saleDate}}</div>        
      </mat-card-footer>
    </mat-card>
        </div>
        
        
      
  </mat-grid-tile>
    <!-- End of Card -->

 </mat-grid-list>
  <!--TODO</mat-paginator> -->

