<!--************    SEARCH BAR    ************-->
<div class="container searchInput" fxLayout="row" fxLayoutAlign="center center">

  <!--<mat-grid-list cols="2" rowHeight="100px">-->
    <mat-form-field appearance="fill">
      <mat-label>Make</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Max Mileage</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Max Price</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Minimum Condition</mat-label>
      <mat-select>
        <mat-option value="one">Bad</mat-option>
        <mat-option value="two">Fair</mat-option>
        <mat-option value="three">Good</mat-option>
        <mat-option value="four">Excellent</mat-option>
      </mat-select>
    </mat-form-field>

<!--TODO
<mat-checkbox [(ngModel)]="subtask.completed"
                        (ngModelChange)="updateAllComplete()">
            {{Regions}}
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="subtask.completed"
                        (ngModelChange)="updateAllComplete()">
            {{Conditions}}
    </mat-checkbox>

-->
  <!--TODO</mat-grid-list>-->
</div>
<li
        *ngFor="let record of searchResults.searchResults"
    >
        {{record.make}} {{record.model}} {{record.listingDescription}}
    </li>
<!--************    MAIN PAGE BODY    ************-->

<!-- The grid layout -->
<!--TODO<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">-->

  <mat-grid-list cols="2" rowHeight="500px" colWidth="500px">
    <!-- Material Card Template --> 
    <mat-grid-tile *ngFor="let record of searchResults.searchResults" [colspan]="1" [rowspan]="1">
      <div class="searchDisplayItem">
        <mat-card class="resultCard">
          <img mat-card-image><!--TODO{{record.imageURL}}-->
          <mat-card-header class="cardHeader">
            <!--TODO<mat-grid-list cols="2">-->
              <!--TODO<mat-grid-tile>-->
                <h2>{{record.make}} {{record.model}}</h2>
              <!--TODO</mat-grid-tile>-->
              <!--TODO<mat-grid-tile>-->
                <div class="active-listing"  *ngIf="record.isActive">Active</div>
                <div class="closed-listing"  *ngIf="!record.isActive">Sold</div> 
              <!--TODO</mat-grid-tile>-->
           <!--TODO</mat-grid-list>-->
            
            
              
                                     
          </mat-card-header>

          <mat-card-content>
            {{record.listingDescription}}
            <!--Numerical Data-->
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>Mileage</span>
                <span matListItemLine>{{record.mileage}}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Condition</span>
                <span>{{record.condition}}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Price</span>
                {{record.price}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-footer>          
            <div matBadgeSize="large" class="closed-listing" *ngIf="!record.isActive">Sold {{record.saleDate}}</div>          
      </mat-card-footer>
    </mat-card>
        </div>
        
        
      
  </mat-grid-tile>
    <!-- End of Card -->

 </mat-grid-list>
  <!--TODO</mat-paginator> -->

