@use '@angular/material' as mat;

.subscription-page-container {
    margin: 20px;
    height: 100%;
}

.subscription-card {
    height: 300px;
    min-width: 230px;

    &:hover {
        @include mat.elevation(12);
    }
}

.subscription-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-options {
    overflow-x: scroll;
}