.subscription-page-container {
    margin: 20px;
}

.subscription-page-container .subscription-page-title {
    height: 15vh;
}

.subscription-card {
    height: 60vh;
}

.subscription-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-description {

}

.subscription-action {
    display: flex;
    justify-content: center;
    align-items: center;
}